# Project: Classify House Prices
Put houses in price groups and try to predict based on Latitude and Longitude
That will show if the area is a good indicator of the house unit price
Step 1: Import libraries

In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, accuracy_score
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
%matplotlib inline

# Step 2: Read the data
Use Pandas read_csv method to read files/house_prices.csv

In [8]:
data=pd.read_csv(r'C:\Users\Adi\Desktop\Data science project\Machine Learning Data Science\MachineLearningWithPython-main\jupyter\starter\files\house_prices.csv')
data.head()

,Transaction,House age,Distance to MRT station,Number of convenience stores,Latitude,Longitude,House unit price
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [12]:
data['Class']=pd.cut(data['House unit price'],bins=15)
data['Class id']=data['Class'].cat.codes

# Step 3: Prepare data
Create 15 bins of house prices
HINT: use cut on the 'House unit price' column with bins=15 and assign the result to column Class.
Get the category codes by transforming column Class with .cat.codes and assign it to Class id

In [10]:
data.head()

,Transaction,House age,Distance to MRT station,Number of convenience stores,Latitude,Longitude,House unit price,Class
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9,"(36.907, 44.233]"
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2,"(36.907, 44.233]"
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3,"(44.233, 51.56]"
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8,"(51.56, 58.887]"
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1,"(36.907, 44.233]"

In [13]:
x=data
y=data['Class id']

# Step 4: Prepare training and test data
Assign X be all the data (it is needed in final step)
Assign y to be the Class id column.
Use train_test_split with test_size=0.15

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=2,test_size=15)

# Step 5: Train a 
-Neighbours Classifier
Create a model to KNeighborsClassifier()
Fit the model on X_train[['Latitude', 'Longitude']] and y_train
Predict X_test[['Latitude', 'Longitude']] and assign it to y_pred
Calculate the accuracy score

In [18]:
model=KNeighborsClassifier()
model.fit(x_train[['Latitude', 'Longitude']],y_train)
y_pred=model.predict (x_test[['Latitude', 'Longitude']])
accuracy_score(y_test,y_pred)

C:\Users\Adi\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.4

# Step 6: Make prediction of categories
Convert y_pred to a DataFrame
HINT: df_pred = pd.DataFrame(y_pred, columns=['Pred cat'])
Get the middle value of the prediction category.
HINT: df_pred['Pred'] = df_pred['Pred cat'].apply(lambda x: X_test['Class'].cat.categories[x].mid)
Calculate the r2_score of the predicted and real price 'House unit price' of X_test

In [24]:
df_pred = pd.DataFrame(y_pred, columns=['pred cat'])
df_pred['pred'] = df_pred['pred cat'].apply(lambda x: x_test['Class'].cat.categories[x].mid)

In [25]:
r2_score(x_test['House unit price'],df_pred['pred'])

0.6645203703163189